body {
  background: url('./pictures/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

.fa-arrow-right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.fa-arrow-left {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.slider-right div {
  border-top: none !important;
  border-bottom: none !important;
  border-right: none !important;
  border-left: none !important;
}

.slider-left div {
  border-top: none !important;
  border-bottom: none !important;
  border-right: none !important;
  border-left: none !important;
}

