/*body {
  background: url('./pictures/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  background-color: white;
}

.fa-arrow-right {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.fa-arrow-left {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.slider-right div {
  border-top: none !important;
  border-bottom: none !important;
  border-right: none !important;
  border-left: none !important;
}

.slider-left div {
  border-top: none !important;
  border-bottom: none !important;
  border-right: none !important;
  border-left: none !important;
}

.container {
  display: grid;
  grid-template-columns: 400px auto;
}

.ul {
  color: grey; 
  list-style: none;
  font-size: 40px;
  text-align: center;
  padding-left: 0px;
  padding-top: 70px;
}

.listItem {
  margin-bottom: 15px;
}

.carousel {
  margin-top: 30px;
margin-left: 5%;
 margin-right: 15%;

}

.logo {
  width: 95%;
}

.menu {
  background-color: white;
}

.picture {
  
}
